/*---------------------- Contenedor Principal ----------------------*/
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, white, rgb(177, 176, 176));
  padding: 2rem;
}

/*---------------------- Card ----------------------*/
.signup-card {
  width: 90%;
  max-width: 34rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #18181a, #333335);
  box-shadow: inset 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
}

/*---------------------- Título ----------------------*/
.title {
  font-family: var(--fuente-navbar);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: white;
}

/*---------------------- Formularios ----------------------*/
form {
  margin: 0.8rem;
}

.form-row {
  display: flex;
  gap: 3rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  border-radius: 0.6rem;
  font-family: var(--fuente-navbar);
  font-size: 1rem;
  box-shadow: inset 0 0 0 var(--rojo);
  border: 2px solid grey;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

input:hover {
  box-shadow: 0rem 0.25rem 0.625rem  rgba(0, 0, 0, 0.3);
}

input:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

/* Placeholder */
#name::placeholder,
#surname::placeholder,
#email::placeholder,
#password::placeholder {
  color: gray;
}

/*---------------------- Mensajes de Error ----------------------*/
.error-msg {
  color: red;
  font-family: var(--fuente-navbar);
  font-size: 0.85rem;
  margin-top: 0.2rem;
}

/*---------------------- Alertas ----------------------*/
.alert {
  margin-top: 2rem;
  color: white;
  font-family: var(--fuente-navbar);
  border-radius: 1.25rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
}

.alert-danger {
  background: linear-gradient(to right, rgb(210, 31, 31), rgb(165, 7, 7));
}

/*---------------------- Botón principal ----------------------*/
.btn {
  width: auto;
  display: inline-block;
  border-radius: 2rem;
  color: var(--blanco);
  background-color: var(--negro);
  margin-top: 2rem;
  font-family: var(--fuente-navbar);
  font-size: 1.2rem;
  height: 2.8rem;
  padding: 0 2.4rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--blanco);
  color: var(--negro);
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

/*---------------------- Texto de redirección ----------------------*/
.redirect-text {
  margin-top: 1rem;
  color: white;
  font-family: var(--fuente-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-btn {
  background: none;
  border: none;
  color: white;
  font-family:var(--fuente-navbar);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.1rem;
  transition: color 0.3s, filter 0.3s ease-in-out;
}

.link-btn:hover {
  color: rgb(69, 69, 244);
  filter: drop-shadow(0rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3));
}
