<div class="signup-container">
  <div class="signup-card">
    <h2 class="title">Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="getDataSignUp()">

      <!-- Nombre y Apellido en fila -->
      <div class="form-row">
        <div class="form-group">
          <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" required>
          @if (signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched) {
            <small class="error-msg">Complete first name</small>
          }
        </div>

        <div class="form-group">
          <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" required>
          @if (signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched) {
            <small class="error-msg">Complete last name</small>
          }
        </div>
      </div>

      <!-- Teléfono -->
      <div class="form-group">
        <input type="text" id="phone" placeholder="Phone" formControlName="phone">
        @if (signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched) {
          <small class="error-msg">Invalid phone number</small>
        }
      </div>

      <!-- Email -->
      <div class="form-group">
        <input type="email" id="email" placeholder="Email" formControlName="email" required>
        @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
          <small class="error-msg">Invalid email address</small>
        }
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" id="password" placeholder="Password" formControlName="password" required>
        @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched) {
          <small class="error-msg">The password must have more than 5 characters</small>
        }
      </div>

      <button type="submit" class="btn">Sign Up</button>
    </form>

    <div class="redirect-text">
      Already have an account?
      <button (click)="goToLogin()" class="link-btn">Login</button>
    </div>

    @if (errorMsg) {
      <div class="alert alert-danger">{{ errorMsg }}</div>
    }
  </div>
</div>
