<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/icons/Goal_icon-icons.com_62267.svg" alt="Logo" class="logo-img">
    <div class="navbar-links">
      <a class="nav-link" routerLink="/home">INICIO</a>
      <a class="nav-link" routerLink="/sales">MIS VENTAS</a>
      <a class="nav-link" routerLink="/my-products">MIS PRODUCTOS</a>
    </div>
  </div>

  <div class="icons-right">
    <button class="icon-btn" (click)="logout()">
      <img class="icon sign-out" src="assets/icons/sign-out.svg" alt="Cerrar sesión" />
    </button>
    
    <!-- Botón del carrito -->
    <button class="icon-btn" (click)="toggleCart()">
      <img class="icon cart" src="assets/icons/shop-cart.svg" alt="Carrito" />
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </button>
  </div>
</nav>

<!-- Panel lateral del carrito -->
<div class="cart-panel" [class.open]="showCartPanel">
  <div class="cart-header">
    <h2 class="cart-title">Carrito</h2>
    <button class="close-cart" (click)="toggleCart()">✕</button>
  </div>

  <div class="cart-body" *ngIf="cartCount > 0; else emptyCart">
    <div class="cart-item" *ngFor="let detail of cartDetails; let i = index">
      <div class="cart-item-img">
        <img *ngIf="detail.product.images?.length"
            [src]="detail.product.images?.[0]?.url"
            [alt]="detail.product.name || 'Producto'">
      </div>
      <div class="cart-item-info">
        <span>{{ detail.product.name }}</span>
        <span>{{ detail.product.price | currency:'ARS' }}</span>

      </div>
      <div class="cart-item-button"> 
        <button class="minor-button" (click)="decrement(detail.product.id)">−</button>
        <span class="number-button">{{ detail.quantity }}</span>
        <button class='plus-button' (click)="increment(detail.product.id)">+</button>
      </div>
      <div class="cart-item-totalprice">
        <span>Subtotal: {{ (detail.product.price * detail.quantity) | currency:'ARS' }}</span>
      </div>
      <div class="cart-trash">
        <a (click)="removeProduct(i)">
          <i class="fa-solid fa-trash" style="color: #000000;"></i>
        </a>
      </div>
    </div>
    <div class="cart-pay">
      <span class="total-price">Total: {{ total | currency:'ARS' }}</span>
      <button class="checkout-btn" (click)="payWithMercadoPago(cartDetails)">Finalizar compra</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="empty-cart">
      Sin artículos
    </div>
  </ng-template>
</div>
