<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/icons/Goal_icon-icons.com_62267.svg" alt="Logo" class="logo-img">
    <div class="navbar-links">
      <a class="nav-link" routerLink="/home">INICIO</a>
      <a class="nav-link" routerLink="/sales">MIS VENTAS</a>
    </div>
  </div>

  <div class="icons-right">
    <button class="icon-btn" routerLink="/logout">
      <img class="icon sign-out" src="assets/icons/sign-out.svg" alt="Cerrar sesión" />
    </button>
    
    <!-- Botón del carrito -->
    <button class="icon-btn" (click)="toggleCart()">
      <img class="icon cart" src="assets/icons/shop-cart.svg" alt="Carrito" />
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </button>
  </div>
</nav>

<!-- Panel lateral del carrito -->
<div class="cart-panel" [class.open]="showCartPanel">
  <div class="cart-header">
    <h2 class="cart-title">Carrito</h2>
    <button class="close-cart" (click)="toggleCart()">✕</button>
  </div>

 <div class="cart-body" *ngIf="cartCount > 0; else emptyCart">
  <div class="cart-item" *ngFor="let item of cartItems; let i = index">
    <div class="cart-item-info">
      <td><span>{{ item.product.name }}</span> </td>
    
      <td><span>{{ item.product.price | currency:'ARS' }}</span></td>
    
      <td>Total: {{ total | currency:'ARS' }}</td>
    </div>
    
    
    <img class="icon cart" (click)="removeProduct(i)" src="assets/icons/trash-solid-full.svg"  alt="Carrito" />

  </div>
  <button class="checkout-btn" (click)="payWithMercadoPago()">Finalizar compra</button>
</div>



<ng-template #emptyCart>
  <div class="empty-cart">
    Sin artículos
  </div>
</ng-template>
