.navbar {
    background: var(--background-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  font-family: var(--fuente-principal);
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  cursor: pointer;
  
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.logo-img {
  height: 40px; /* Ajustá según tu gusto */
  width: auto;
  margin-right: 1px; /* Espacio entre logo y opciones */
}

.nav-options {
  display: flex;
  gap: 15px; /* Espacio entre botones */
}

.icon{
  height: 2rem;
  padding: 0.4rem;
  color: var(--color-icons-navbar);
}

.icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon-btn img.icon {
  width: 28px;
  height: 28px;
  transition: transform 0.2s ease;
}

.icon-btn:hover img.icon {
  transform: scale(1.1);
}

.navbar-left {
  display: flex;    
  align-items: center;
  gap: 20px; /* Espacio entre logo y links */
}

.icons-right {
  display: flex;
  align-items: center; /* centra verticalmente en el navbar */
  gap: 0.75rem; /* espacio entre iconos */
}

.icons-right img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}