/*---------------------- Navbar ----------------------*/
.container-fluid {
    padding-left: 0.55rem;
    padding-right: 1.75rem;
}

.navbar {
    background: linear-gradient(to right, var(--color-rosa), var(--color-degrade-rosa));
    font-family: 'Alata', sans-serif;
    height: 3.5rem;
    z-index: 900;
}

.nav-link,
.navbar-brand {
    color: var(--color-azul) !important;
    transition: color 0.3s ease-in-out;
}

.nav-link {
    font-size: 1.05rem;
    margin-left: 1.5rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--color-oscuro) !important;
}

.nav-link.active-link {
    color: var(--color-oscuro) !important;
    font-weight: bold;
}

/* Icono para dirigirnos a la pantalla Login */
.login img {
    width: 2.8rem;
    height: 2.8rem;
    transition: filter 0.3s ease;
}

.login:hover img {
    filter: brightness(0.5);
}

/*---------------------- Footer ----------------------*/
.footer {
    background: linear-gradient(to right, var(--color-rosa), var(--color-degrade-rosa));
    font-family: 'Alata', sans-serif;
    margin-top: 0;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

/* About, Contact, Privacy, Terms & Conditions, etc. */
.footer-link {
    color: var(--color-azul);
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease-in-out;
    display: inline-block;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--color-oscuro) !important;
}

/* "Pedidos Ya © 2010 - 2025" en negrita */
.copy {
    font-weight: bold;
}

/* Línea divisoria */
.footer-divider {
    border: none;
    height: 0.1rem;
    background-color: var(--color-azul);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Texto de información legal */
.footer-legal {
    color: var(--color-azul);
    font-size: 0.82rem;
    margin-bottom: -0.7rem;
}