<div id="sectorMisProductos">
  <div class="top-space">
    <a class="left-arrow" routerLink="/home">
      <i class="fa-sharp fa-solid fa-arrow-left" style="color: #000000;"></i>
    </a>
    <h2 class="pageTitle">Productos</h2>
  </div>
  <div class="action-buttons">
    <div class="filter-wrapper">
      <button (click)="toggleMenu()" class="filter-btn">
        Filtrar por <span [class.rotated]="menuOpen">▶</span>
      </button>

      <div *ngIf="menuOpen" class="filter-options">
        <button *ngFor="let type of productTypes" class="filter-btn"
              [class.active]="selectedTypeId === type.id"
              (click)="filterByType(type.id)">
          {{ type.name }}
        </button>
      </div>
    </div>

    <a class="btn-create" title="Create">
      <i class="fa-solid fa-square-plus fa-xl" style="color: #ffffff;"></i>
    </a>
  </div>
  <table id="tablaProductos">
    <thead>
      <tr>
        <th class="columnaCentral">ID Producto</th>
        <th class="columnaImagen">Imagen</th>
        <th class="columnaCentral">Nombre</th>
        <th class="columnaCentral">Descripcion</th>
        <th class="columnaCentral">Precio</th>
        <th class="columnaCentral">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id){
              <tr>
        <td> {{product.id}} </td>
        <td>
          <img [src]="product.images?.[0]?.url" alt="{{ product.name }}" width="50">
        </td>
        <td> {{ product.name }} </td>
        <td> {{ product.description }} </td>
        <td> {{ '$' + product.price }} </td>
        <td>
          <a class="btnEditar" title="Editar">
            <i class="fa-duotone fa-solid fa-pen-to-square" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
          </a>
          <a class="btnEliminar" href="#" title="Eliminar">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      }

    </tbody>
  </table>
</div>

<div class="add-product">

  <div class="title-add-product">
    <h2>AGREGAR PRODUCTO</h2>
  </div>
  <div class="body-add-product">
    <div class="product-item">
      <input type="text" placeholder="Nombre del producto">
    </div>
    <div class="product-item">
      <input type="text" placeholder="Descripción del producto">
    </div>
    <div class="product-item">
      <input type="text" placeholder="Precio del producto">
    </div>
    <div class="product-item">
      <input type="file" (change)="onFileSelected($event)" placeholder="Imagen del producto">
    </div>
  </div>
  <div class="buttons">
    <div class="accept-button">
    <button>Aceptar</button>
    </div>
    <div class="cancel-button">
    <button>Cancelar</button>
    </div>
  </div>
</div>
<div class="pagination">
  <button (click)="prevPage()" [disabled]="page === 1">
   ‹ Anterior
  </button>

  <div class="page-info">
    Página {{ page }} de {{ totalPages }}
  </div>

  <button (click)="nextPage()" [disabled]="page === totalPages">
    Siguiente ›
  </button>
</div>
