.navbar {
    background: var(--background-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  font-family: var(--fuente-principal);
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.icon{
    height: 2rem;
    padding: 0.4rem;
    color: var(--color-icons-navbar);
}

