<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/icons/Goal_icon-icons.com_62267.svg" alt="Logo" class="logo-img">
    <div class="navbar-links">
      <a class="nav-link" routerLink="/inicio">Inicio</a>
      <a class="nav-link" routerLink="/mis-compras">Mis Compras</a>
    </div>
  </div>

  <div class="icons-right">
    <img class="icon sign-out" src="assets/icons/sign-out.svg" alt="Cerrar sesión" />
    <img class="icon cart" src="assets/icons/shop-cart.svg" alt="Carrito" />
  </div>
</nav>