<div class="login-container">
  <div class="login-card">
    <!-- Título -->
    <h2 class="title">Login</h2>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">
      <!-- Email -->
      <div class="form-group">
        <input type="email" id="email" placeholder="Email" formControlName="email" required>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small class="error-msg">Invalid email address</small>
        }
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" id="password" placeholder="Password" formControlName="password" required>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small class="error-msg">The password must have more than 5 characters</small>
        }
      </div>

      <!-- Botón -->
      <button type="submit" class="btn">Login</button>
    </form>

    <!-- Link a registro -->
    <div class="signup-text">
      Don’t have an account?
      <button (click)="goToSignUp()" class="link-btn">Sign up</button>
    </div>

    <!-- Mensaje de error -->
    @if (errorMsg) {
      <div class="alert">{{ errorMsg }}</div>
    }
  </div>
</div>
