<div class="login-container">
  <div class="login-card">
    <!-- Título -->
    <h2 class="title">Iniciar Sesion</h2>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">
      <!-- Email -->
      <div class="form-group">
        <input type="email" id="email" placeholder="Correo electronico" formControlName="email" required>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small class="error-msg">Correo electronico invalido</small>
        }
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" id="password" placeholder="Contraseña" formControlName="password" required>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small class="error-msg">La Contraseña debe tener al menos 5 caracteres</small>
        }
      </div>

      <!-- Botón -->
      <button type="submit" class="btn">Acceder</button>
    </form>

    <!-- Link a registro -->
    <div class="signup-text">
      ¿No tienes una cuenta? 
      <button (click)="goToSignUp()" class="link-btn"> Registrate ahora </button>
    </div>

    <!-- Mensaje de error -->
    @if (errorMsg) {
      <div class="alert">{{ errorMsg }}</div>
    }
  </div>
</div>
