<div class="home-container">
  <section class="home-content">
    <section class="product-grid">
      @for (item of products; track item.id) {
        <div class="product-item">
          <div class="product-card" [routerLink]="['/product', item.id]">
            <img [src]="item.images?.[0]?.url" alt="{{ item.name }}">
            <h3>{{ item.name }}</h3>
            <p>{{ '$' + item.price }}</p>
          </div>
        </div>
      }
    </section>
    <div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">
      ‹ Anterior
    </button>

    <div class="page-info">
      Página {{ page }} de {{ totalPages }}
    </div>

    <button (click)="nextPage()" [disabled]="page === totalPages">
      Siguiente ›
    </button>
  </div>
  </section>
</div>
