/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #eeeeee;
    --background-navbar:  #bebebe5d;
    --blanco: #ffff;
    --negro: #000000;
    --rojo: #ff6f61;
    --rojo-gradient: #ff6f70;
    --color-fount: rgb(32, 32, 32);
    --shadow: rgba(0,0,0,0.04);
    --boton: #585858;
    --fuente-navbar: 'Quicksand', sans-serif;
    --verde: #4CAF50;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;          /* ocupa el espacio disponible */
  display: flex;    /* opcional, si querés que el contenido interno se estire */
  flex-direction: column;
}